:root {
    --logo-font-family: 4rem 'Arizonia', cursive;
    --header-font: 2rem 'Arizonia', cursive;
    --font: 200 1rem 'Inter Tight', sans-serif;
    --dark-font-color: #4d2411;
    --light-font-color: #ffffff;
    --border-style: dotted var(--dark-font-color) 2px;
    --heading-background-color: rgba(231, 189, 111, 0.425);
    --baskets-background-color: #ffffff;
    --content-background-color: linear-gradient(90deg, rgba(87, 217, 148, 0.781) 0%, rgba(48, 202, 233, 0.781) 100%);
    --: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font: var(--font);
}

header {
    color: var(--dark-font-color);
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    border-bottom: var(--border-style);
    background-color: var(--heading-background-color);
}

.page-logo {
    display: flex;
    align-items: center;
}

h1 {
    font: var(--logo-font-family);
    font-weight: bold;
    padding-left: 10px;
}

main {
    width: 100vw;
    height: 90vh;
    display: flex;
}

#logo {
    font-size: 2.5rem;
    padding: 0px 10px;
    color: var(--dark-font-color);
}


/* ICONS */

.icons {
    font-size: 1rem;
}

i.fa-xmark {
    margin-left: auto;
    cursor: pointer;
}

.task-title-wrapper>i,
.task-status-wrapper>i {
    width: 25px;
}

.task-title-wrapper>i:hover,
i.fa-xmark:hover {
    font-size: 1.2rem;
}


/* 
.task-status-wrapper>p:hover {
    font-weight: bold;
} */


/* Sidebar Nav Section */

.nav {
    color: var(--dark-font-color);
    padding: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--baskets-background-color);
    overflow: scroll;
}

#main-filters,
#baskets-wrapper {
    padding: 10px 0px;
}

#main-filters,
#baskets-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

li {
    color: var(--dark-font-color);
    display: flex;
    align-items: center;
    margin: 10px;
    border: 2px solid transparent;
}

li.selected {
    background-color: var(--heading-background-color);
    color: var(--dark-font-color);
}

li:hover:not(.selected) {
    border-style: solid;
    border-width: 2px;
    border-image-source: var(--content-background-color);
    border-image-slice: 2;
    cursor: pointer;
}

.baskets-heading-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: var(--border-style);
    font: var(--header-font);
}

#filter-all,
#filter-today,
#filter-week,
.basket-filter-wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

h3 {
    padding-left: 10px;
}

#add-basket-wrapper {
    justify-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#add-basket {
    padding-left: 10px;
}

.add-task {}

p#add-basket:hover,
p.add-task:hover {
    cursor: pointer;
    font-weight: bold;
}


/* Content Section */

.content {
    padding-bottom: 50px;
    padding-top: 25px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: var(--content-background-color);
    overflow: scroll;
}

.basket {
    background-color: var(--baskets-background-color);
    width: 50%;
    padding: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    color: var(--dark-font-color);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.205);
}

.forms {
    color: var(--dark-font-color);
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 90%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.507);
}

form {
    top: 25%;
    position: absolute;
    background-color: var(--baskets-background-color);
    display: flex;
    flex-direction: column;
}

section.form-heading {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--heading-background-color);
    border-bottom: var(--border-style);
}

section.form-data {
    display: flex;
}

section.left-side,
section.right-side {
    display: flex;
    flex-direction: column;
}

section.left-side {
    padding: 0px 5px 10px 20px;
}

section.right-side {
    padding: 0px 20px 10px 10px;
}

section.form-btns {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px 20px 20px 10px;
}

form#edit-task-form>section.form-data {
    margin-top: 20px;
}

button.add {
    color: var(--dark-font-color);
    font-size: 1.2rem;
    font-family: var(--font);
    background-image: var(--content-background-color);
    border: none;
    width: 100px;
    height: 35px;
    margin-right: 10px;
    cursor: pointer;
}

button.cancel {
    color: var(--dark-font-color);
    font-size: 1.2rem;
    font-family: var(--font);
    background-color: var(--heading-background-color);
    border: none;
    cursor: pointer;
    width: 100px;
    height: 35px;
}

button.add:hover,
button.cancel:hover {
    border: dotted 2px var(--dark-font-color);
}

label {
    font-weight: bold;
}

input,
textarea,
select {
    margin-bottom: 10px;
    color: var(--dark-font-color);
    border: var(--dark-font-color) solid 1px;
    background-color: transparent;
    padding: 5px;
    font-family: var(--font);
    font-size: 1rem;
}

p.required {
    font-size: 0.8rem;
    padding: 10px 10px 10px 20px;
}

.basket-header {
    border-bottom: var(--border-style);
    align-items: center;
}

.basket-header,
.tasks-in-basket {
    display: flex;
    justify-content: space-between;
}

.basket-name-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px;
}

.add-task-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 30px;
}

.add-task-wrapper>p {
    padding-left: 10px;
}

.basket-name {
    padding-left: 10px;
}

h4,
.fa-circle-exclamation,
.fa-xmark {
    padding-left: 10px;
}

.tasks-in-basket {
    display: flex;
    flex-direction: column;
}

.task {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.task:hover {
    background-color: var(--heading-background-color);
    cursor: pointer;
}

.task-details {
    display: flex;
    justify-content: space-between;
}

.task-details,
.task-title-wrapper,
.task-status-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    display: none;
}

.task-description {
    padding: 5px 0px 0px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.made-by {
    padding-right: 20px;
    color: var(--dark-font-color);
}

.made-by a {
    color: var(--dark-font-color);
    text-decoration: none;
}

.made-by a:visited {
    color: var(--dark-font-color);
}

.made-by a:active {
    color: var(--dark-font-color);
}

.made-by a:hover {
    color: var(--baskets-background-color);
}